<html>
<head>
    <title>SPA</title>
</head>
<body>
        <ul>
                <% sum.forEach((sum) => { %>
                        <li>
                                <h2><%= sum %></h2>
                        </li>
                        <hr>
                <% }) %>
        </ul>

</body>
</html>